<p id="notice"><%= notice %></p>

<h2>
  
  <%= @song.name %>
</h2>

<p>
        <% @song.rating.to_i.times do %>
          <span class="glyphicon glyphicon-star"></span>
          <% end %>
         <% (10 - @song.rating.to_i).times do %>
          <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
         </p>  


<h3>
 
  <p><%= link_to @song.artist.name, @song.artist %></p></h3>
  <% if @song.video != nil %>
  	<p><%= link_to 'See the Video', @song.video.html_safe, target: '_blank' %></p>
  <% end %>	


<p><%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %></p>


<p><%= link_to 'Add Song', new_song_path, class: 'btn btn-primary'  %>
  
</p>