<!DOCTYPE html>
<html>
<head>
  <title>TtsAmazon</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
	<body>


	<!-- Begin Nav Bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "TTSAmazon", root_path, class: "navbar-brand"  %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <!-- Categories -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <% @categories.each do |cat| %>
                <li><%= link_to cat.name, categorical_path(category_id: cat.id) %></li>
              <% end %>
              <li><a href="all">All</a></li>
          </ul>
        </li>
        <!-- End Categories -->  
        <!-- Brands -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <% @brands.each do |brand| %>
                <li><%= link_to brand, branding_path(brand: brand) %></li>
              <% end %>
              
          </ul>
          <li><%= link_to 'All', root_path %></li>
        </li> 
        <!-- End Brands -->   
            
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
        <% if user_signed_in? %>
          <li><%= link_to current_user.email %></li>
          <% if current_user.role == "admin" %>
          <li><%= link_to "Manage Inventory", products_path %></li> 
          <% else %>
            <li><%= link_to "Products", products_path %></li>  
          <% end %> 
          <li><%= link_to "View Cart", view_order_path %>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "User Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up",  new_user_registration_path %></li>
        <li><%= link_to "Forgot Password",  new_user_password_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
