<p id="notice"><%= notice %></p>

<h1>My Favorite Artists</h1>

<p><%= link_to new_artist_path do %>
  <span class="glyphicon glyphicon-plus"></span> Add
  <% end %>
</p>


<div class="row">
    <% @artists.each do |artist| %>
     <div class="col-md-6">
      <div class="well">


        <% if artist.avatar != nil %>
          <%= image_tag artist.avatar.url(:thumb) %>
        <% end %>

       <h2><%= link_to artist.name, artist %></h2>
        
         <h4><%= link_to edit_artist_path(artist) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          
          <%= link_to artist, method: :delete, data: { confirm: 'Are you sure?' } do %>
             <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </h4> 
        </div>
      </div>
    <% end %>
  </div>

