<div class="row">
	<% @products.each do |product| %>
		<div class="col-md-4">
			<div class="well center-it">
				<p><%= image_tag product.image.url(:thumb) %></p>
				<h3><%= link_to product.name, product %></h3>
				<p><%= number_to_currency product.price %></p>
				<p>
					<a href='#' data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<span class='glyphicon glyphicon-plus'></span>Quick Info
					</a>
				</p>
			</div>
		</div>


<!-- Modal -->
		<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><%= product.name%></h4>
		      </div>
		      <div class="modal-body">
		       <p><%= image_tag product.image.url(:thumb) %></p>
						
						<p><%= number_to_currency product.price %></p>
						<p><%= product.description %></p>
						<p>
		      </div>
		      <div class="modal-footer">
							  <!-- Delete those "Save Changes" and "Close" buttons that were here -->
							  <p>
							  <%= form_tag add_to_cart_path do %>
							    <%= hidden_field_tag :product_id, product.id %>
							    <%= number_field_tag :quantity, 1, min: 1 %>
							    
							    
							    <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
							  
							  <% end %>
							  </p>
							</div>
		    </div>
		  </div>
		</div>

	<% end %>





</div>			



