<h1>Welcome to Our Store</h1>
<p>We've got what you're looking for! </p>

<div class="row">
	<% @products.each do |product| %>
		<div class="col-md-4">
			<div class="well center-it">
				<p><%= image_tag product.image.url(:thumb) %></p>
				<h3><%= link_to product.name, product %></h3>
				<p><%= number_to_currency product.price %></p>
				<p>
					<a href='#' data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<span class='glyphicon glyphicon-plus'></span>Quick Info
					</a>
				</p>
			</div>
		</div>


<!-- Modal -->
		<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><%= product.name%></h4>
		      </div>
		      <div class="modal-body">
		       <p><%= image_tag product.image.url(:thumb) %></p>
						
						<p><%= number_to_currency product.price %></p>
						<p><%= product.description %></p>
						<p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>

	<% end %>





</div>			



